@use 'https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;0,400;1,100&display=swap';
@use 'https://fonts.googleapis.com/css?family=Raleway&display=swap';

html {
  position: relative;
  min-height: 100%;
}

p,
sub,
a {
  font-family: "Montserrat", sans-serif;
}

sub {
  color: rgb(95, 95, 95);
}

a {
  color: rgb(12, 161, 161);
  text-decoration: none;
  transition: background-color 1.5s ease;
  transition: color 0.5s ease;
}

a:hover {
  color: black;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Raleway", sans-serif;
  font-weight: bolder;
}

h1 {
  color: rgb(12, 161, 161);
  text-align: center;
  margin-top: 40px;
  margin-bottom: 100px;
}

body {
  margin: 0;
}
