@use 'https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;0,400;1,100&display=swap';
@use 'https://fonts.googleapis.com/css?family=Raleway&display=swap';

p,
a {
  font-family: "Montserrat", sans-serif;
  font-size: 19px;
}

a {
  color: rgb(12, 161, 161);
  text-decoration: none;
  transition: background-color 1.5s ease;
  transition: color 0.5s ease;
}

a:hover {
  color: black;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Raleway", sans-serif;
  font-weight: bolder;
}

h1 {
  color: rgb(12, 161, 161);
  font-size: 70px;
  text-align: center;
  margin-top: 40px;
  margin-bottom: 100px;
}

h2 {
  font-size: 40px;
}

h3 {
  font-size: 25px;
}

h4 {
  font-size: 20px;
}

body {
  margin: 0;
}
