@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;0,400;1,100&display=swap");

* {
  font-family: "Montserrat", sans-serif;
}

html {
  background-color: rgb(230, 230, 230);
}

body {
  margin: 0;
}
