header {
  background-color: #51C0C0;
  height: 99px;
}

.header-container {
  display: flex;
  align-items: center;
  height: 99px;
  max-width: 1740px;
}

.header-container a {
  text-decoration: none;
  transition: color 0.5s ease;
}

.header-container a:hover {
  color: #262626;
}

header h1 {
  font-size: 48px;
  margin-left: 120px;
  margin-right: 148px;
}

.logo-wrapper img {
  height: 48px;
}

.logo-wrapper a {
  display: flex;
}

.header-container ul {
  display: flex;
  align-items: center;
}

.nav-item {
  display: flex;
  font-size: 1.5em;
  cursor: pointer;
  color: #fafafa;
  list-style: none;
  margin: 0 84px 0 0;

  align-items: center;
}

.nav-item-active {
  color: #262626;
  font-weight: 700;
}

.github-logo {
  margin-left: auto;
  color: #fafafa;
  font-size: 36px;
  align-items: flex-end;
  cursor: pointer;
  margin-right: 124px;
}

.github-logo a {
  color: #fafafa;
}