.blog-main {
  margin-left: auto;
  margin-right: auto;
  padding-top: 30px;
  width: 80%;
}

h2 {
  font-size: 26px;
  font-weight: bolder;
  text-align: center;
  margin-top: 40px;
  margin-bottom: 30px;
  color: rgb(12, 161, 161);
}

.wrapper {
  margin: 30px auto;
  padding: 5px;
  width: 80%;
  background-color: whitesmoke;
  border-radius: 15px;
  box-shadow: 0px 2px 10px 1px rgb(172, 172, 172);
}

.wrapper article {
  margin: 20px;
  border-radius: 15px;
}

.content {
  padding: 12px;
}

.content h5 {
  font-weight: lighter;
}

.post-image-header {
  display: block;
  width: 50%;
  margin: 15px auto;
}
