.page-body {
  margin-left: auto;
  margin-right: auto;
  padding-top: 30px;
  padding-bottom: 40px;
  width: 70%;
  max-width: 1200px;
  margin-bottom: 70px;
}

.main {
  margin: 148px 140px 148px 140px;
}