.projetos-main {
  padding-top: 30px;
}

.projeto-wrapper {
  padding-left: 20%;
  padding-right: 20%;
  padding-top: 30px;
}

.project-img {
  height: 300px;
  display: block;
  margin: auto;
  border-radius: 15px;
}

.separator {
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
  background-color: black;
  height: 1px;
}
