.avatar {
  border-radius: 100px;
  display: block;
  max-width: 50%;
  margin: 10px auto;
  height: 150px;
}

.contact {
  text-align: center;
  display: block;
  max-width: 50%;
  margin: auto;
}

.contact img {
  display: inline-block;
}

h2 {
  text-align: center;
  margin-bottom: 25px;
}

h3 {
  text-align: center;
}
