.bio {
  text-align: center;
}

.avatar {
  border-radius: 100px;
  display: block;
  max-width: 50%;
  margin: 10px auto;
  height: 150px;
}

.contact {
  display: block;
  max-width: 50%;
  margin: auto;
}

.contact img {
  display: inline-block;
}
