.quem-somos {
  margin: 40px;
}

.title {
  font-size: 26px;
  font-weight: lighter;
  margin: 15px;
}

.quem-somos #description {
  margin-left: 40px;
  text-align: center;
}

.perfil-wrapper {
  height: 50%;
  width: 30%;
  background-color: white;
  border-radius: 15px;
  padding: 30px;
  box-sizing: border-box;
  display: inline-block;
  margin: 1%;
}

.perfil-wrapper a {
  text-decoration: none;
  color: rgb(12, 161, 161);
}
