.Ellipse_3 {
		position: absolute;
		overflow: visible;
		width: 25px;
		height: 25px;
		left: 335px;
    top: 193.548px;
	}
	.Ellipse_5 {
		position: absolute;
		overflow: visible;
		width: 25px;
		height: 25px;
		left: 1798px;
		top: 193.548px;
	}
	.Ellipse_8 {
		position: absolute;
		overflow: visible;
		width: 25px;
		height: 25px;
		left: 262px;
		top: 1303.548px;
	}
	.Ellipse_4 {
		position: absolute;
		overflow: visible;
		width: 25px;
		height: 25px;
		left: 1104px;
		top: 481.548px;
	}
	.Ellipse_9 {
		position: absolute;
		overflow: visible;
		width: 25px;
		height: 25px;
		left: 375px;
		top: 2207.548px;
	}
	.Ellipse_6 {
		position: absolute;
		overflow: visible;
		width: 25px;
		height: 25px;
		left: 1186px;
		top: 697.548px;
	}
	.Ellipse_7 {
		position: absolute;
		overflow: visible;
		width: 25px;
		height: 25px;
		left: 1528px;
		top: 887.548px;
	}
	.Polygon_1 {
		overflow: hidden;
		position: absolute;
		width: 46px;
		height: 40px;
		transform: translate(-87px, -114.452px) matrix(1,0,0,1,1199,160) rotate(82deg);
		transform-origin: center;
		left: 87px;
		top: 115px;
	}
	.Polygon_10 {
		overflow: hidden;
		position: absolute;
		width: 46px;
		height: 40px;
		transform: translate(-87px, -114.452px) matrix(1,0,0,1,1435,1334.0001) rotate(82deg);
		transform-origin: center;
		left: 87px;
		top: 115px;
	}
	.Polygon_2 {
		overflow: hidden;
		position: absolute;
		width: 46px;
		height: 40px;
		transform: translate(-87px, -114.452px) matrix(1,0,0,1,832,926) rotate(173deg);
		transform-origin: center;
		left: 87px;
		top: 115px;
	}
	.Polygon_3 {
		overflow: hidden;
		position: absolute;
		width: 46px;
		height: 40px;
		transform: translate(-87px, -114.452px) matrix(1,0,0,1,1706.9999,329) rotate(195deg);
		transform-origin: center;
		left: 87px;
		top: 115px;
	}
	.Polygon_4 {
		overflow: hidden;
		position: absolute;
		width: 42px;
		height: 42px;
		left: 585px;
		top: 386.548px;
		transform: matrix(1,0,0,1,0,0);
	}
	.Polygon_11 {
		overflow: hidden;
		position: absolute;
		width: 42px;
		height: 42px;
		left: 87px;
		top: 1461.548px;
		transform: matrix(1,0,0,1,0,0);
	}
	.Polygon_7 {
		overflow: hidden;
		position: absolute;
		width: 42px;
		height: 42px;
		left: 335px;
		top: 639.548px;
		transform: matrix(1,0,0,1,0,0);
	}
	.Polygon_6 {
		overflow: hidden;
		position: absolute;
		width: 42px;
		height: 42px;
		transform: translate(-87px, -114.452px) matrix(1,0,0,1,129,122) rotate(29deg);
		transform-origin: center;
		left: 87px;
		top: 115px;
	}
	.Path_4 {
		overflow: visible;
		position: absolute;
		width: 1334.383px;
		height: 664.664px;
		left: 387.144px;
		top: 1254.355px;
		transform: matrix(1,0,0,1,0,0);
	}
	.Polygon_5 {
		overflow: hidden;
		position: absolute;
		width: 42px;
		height: 42px;
		left: 1811px;
		top: 494.548px;
		transform: matrix(1,0,0,1,0,0);
	}
	.Polygon_9 {
		overflow: hidden;
		position: absolute;
		width: 42px;
		height: 42px;
		left: 1157px;
		top: 1090.548px;
		transform: matrix(1,0,0,1,0,0);
	}
	.Polygon_8 {
		overflow: hidden;
		position: absolute;
		width: 42px;
		height: 42px;
		left: 1790px;
		top: 776.548px;
		transform: matrix(1,0,0,1,0,0);
	}
	.Path_2 {
		overflow: visible;
		position: absolute;
		width: 1120.073px;
		height: 534.241px;
		left: 686.018px;
		top: 621.578px;
		transform: matrix(1,0,0,1,0,0);
	}
	.Path_3 {
		overflow: visible;
		position: absolute;
		width: 977.073px;
		height: 534.241px;
		left: 922.018px;
		top: 616.578px;
		transform: matrix(1,0,0,1,0,0);
	}