.Ellipse_3 {
		position: absolute;
		overflow: visible;
		width: 25px;
		height: 25px;
		left: 335px;
    top: 94.548px;
	}
	.Ellipse_5 {
		position: absolute;
		overflow: visible;
		width: 25px;
		height: 25px;
		left: 1798px;
		top: 94.548px;
	}
	.Ellipse_8 {
		position: absolute;
		overflow: visible;
		width: 25px;
		height: 25px;
		left: 262px;
		top: 1204.548px;
	}
	.Ellipse_4 {
		position: absolute;
		overflow: visible;
		width: 25px;
		height: 25px;
		left: 1104px;
		top: 382.548px;
	}
	.Ellipse_9 {
		position: absolute;
		overflow: visible;
		width: 25px;
		height: 25px;
		left: 375px;
		top: 2108.548px;
	}
	.Ellipse_6 {
		position: absolute;
		overflow: visible;
		width: 25px;
		height: 25px;
		left: 1186px;
		top: 598.548px;
	}
	.Ellipse_7 {
		position: absolute;
		overflow: visible;
		width: 25px;
		height: 25px;
		left: 1528px;
		top: 788.548px;
	}
	.Polygon_1 {
		overflow: hidden;
		position: absolute;
		width: 46px;
		height: 40px;
		transform: translate(-87px, -114.452px) matrix(1,0,0,1,1199,160) rotate(82deg);
		transform-origin: center;
		left: 87px;
		top: 16px;
	}
	.Polygon_10 {
		overflow: hidden;
		position: absolute;
		width: 46px;
		height: 40px;
		transform: translate(-87px, -114.452px) matrix(1,0,0,1,1435,1334.0001) rotate(82deg);
		transform-origin: center;
		left: 87px;
		top: 16px;
	}
	.Polygon_2 {
		overflow: hidden;
		position: absolute;
		width: 46px;
		height: 40px;
		transform: translate(-87px, -114.452px) matrix(1,0,0,1,832,926) rotate(173deg);
		transform-origin: center;
		left: 87px;
		top: 16px;
	}
	.Polygon_3 {
		overflow: hidden;
		position: absolute;
		width: 46px;
		height: 40px;
		transform: translate(-87px, -114.452px) matrix(1,0,0,1,1706.9999,329) rotate(195deg);
		transform-origin: center;
		left: 87px;
		top: 16px;
	}
	.Polygon_4 {
		overflow: hidden;
		position: absolute;
		width: 42px;
		height: 42px;
		left: 585px;
		top: 287.548px;
		transform: matrix(1,0,0,1,0,0);
	}
	.Polygon_11 {
		overflow: hidden;
		position: absolute;
		width: 42px;
		height: 42px;
		left: 87px;
		top: 1362.548px;
		transform: matrix(1,0,0,1,0,0);
	}
	.Polygon_7 {
		overflow: hidden;
		position: absolute;
		width: 42px;
		height: 42px;
		left: 335px;
		top: 540.548px;
		transform: matrix(1,0,0,1,0,0);
	}
	.Polygon_6 {
		overflow: hidden;
		position: absolute;
		width: 42px;
		height: 42px;
		transform: translate(-87px, -114.452px) matrix(1,0,0,1,129,122) rotate(29deg);
		transform-origin: center;
		left: 87px;
		top: 16px;
	}
	.Path_4 {
		overflow: visible;
		position: absolute;
		width: 1334.383px;
		height: 664.664px;
		left: 387.144px;
		top: 1155.355px;
		transform: matrix(1,0,0,1,0,0);
	}
	.Polygon_5 {
		overflow: hidden;
		position: absolute;
		width: 42px;
		height: 42px;
		left: 1811px;
		top: 395.548px;
		transform: matrix(1,0,0,1,0,0);
	}
	.Polygon_9 {
		overflow: hidden;
		position: absolute;
		width: 42px;
		height: 42px;
		left: 1157px;
		top: 991.548px;
		transform: matrix(1,0,0,1,0,0);
	}
	.Polygon_8 {
		overflow: hidden;
		position: absolute;
		width: 42px;
		height: 42px;
		left: 1790px;
		top: 677.548px;
		transform: matrix(1,0,0,1,0,0);
	}
	.Path_2 {
		overflow: visible;
		position: absolute;
		width: 1120.073px;
		height: 534.241px;
		left: 686.018px;
		top: 517.578px;
		transform: matrix(1,0,0,1,0,0);
	}
	.Path_3 {
		overflow: visible;
		position: absolute;
		width: 977.073px;
		height: 534.241px;
		left: 922.018px;
		top: 517.578px;
		transform: matrix(1,0,0,1,0,0);
	}